<!-- Page Content -->
<div class="container">

<h2>Editar Usuario</h2>
  <form>
    <div class="form-group">
      <img src="http://placehold.it/100x100" alt="">
      <p></p>
      <label for="inFoto">Foto:</label>
      <p></p>
      <input type="file" name="adjunto" accept=".png,.jpg,.png,.jpeg" id=inFoto>
    </div>
  <div class="form-group">
    <label for="txtNombre">Nombre:</label>
    <input type="email" class="form-control" id="txtNombre" placeholder="Ingrese Nombre">
  </div>
  <div>
    <label for="txtApellido">Apellido:</label>
    <input type="email" class="form-control" id="txtApellido" placeholder="Ingrese Apellido">
  </div>
  <div>
    <label for="txtIdentificacion">identificacion:</label>
    <input type="email" class="form-control" id="txtIdentificacion" placeholder="Ingrese identificacion">
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
  <button type="submit" class="btn btn-secundary">Cancelar</button>
</form>

</div>
<!-- /.container -->
