<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-lg-3">

      <h1 class="my-4">Usuarios</h1>
      <div class="list-group">
        <a routerLink="/usuario-agregar" class="list-group-item">Nuevo Usuario</a>
      </div>

    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">

      <h3>Lista de todos los Usuarios</h3>
      <div class="row" *ngIf="usuarios">
          <div class="col-lg-4 col-md-6 mb-4" *ngFor="let usuario of usuarios">
            <div class="card h-100">
              <a href="#"><img class="card-img-top"
                 src="http://placehold.it/700x400"
                 alt="{{ usuario.imagenURL }}"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">
                    {{ usuario.nombre +" "+ usuario.apellido }}
                  </a>
                </h4>
                <h5>{{ usuario.cedula }}</h5>
              </div>
              <p class="card-text"></p>
              <div class="card-footer">
                <a class="btn btn-primary btn-block"
                  routerLink="usuario-editar/{{ usuario.id }}" role="button">
                  Editar
                </a>
                <button type="button"
                  class="btn btn-outline-danger btn-block" data-toggle="modal"
                  attr.data-target="#consulta1">Eliminar</button>
              </div>
            </div>
          </div>
            </div>

            <!-- Modal -->
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
